@font-face {
  font-family: 'Neue Haas Extra Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NeueHaasDisplayThin.ttf') format('truetype');

}


@font-face {
  font-family: 'Neue Haas Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NeueHaasDisplayLight.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue Haas';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NeueHaasDisplayRoman.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Bold';
  font-weight: 700;
  src: url('../fonts/NeueHaasDisplayBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Extra Bold';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/NeueHaasDisplayBold.ttf') format('truetype')
}

body {

  font-family: 'Neue Haas';

  font-size: 18px;
  letter-spacing: 0.02em;
}



a {
  text-decoration: none;

}


a:hover {
  color: #8ed61d;
}

section {
  position: relative;
}

a:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

ul {
  padding: 0px;
  position: relative;
  list-style: none;
}


.bg_light_gray {
  background: #f9f9f9;
}

a.cta_btn {
  background: #ebb800;
  color: #000;
  padding: 18px 32px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neue Haas Bold';
  position: relative;
}



a.cta_btn.cta_big {
  font-size: 20px;
}

a.cta_btn.cta_big.cta_black svg {
  fill: #fff;
}

a.cta_btn.cta_big.cta_black {
  background: #000;
  color: #fff;
}

/**/


/*Header Part*/

.logo {
  max-width: 220px;
}

.logo img {
  width: 180px;
}

header a {
  color: #000;
}

ul.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #459945;
  padding: 4px;
}

.header_top ul.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #459945;
  padding: 4px;
  transition: all .5s ease;
}

.header_top ul.social li a:hover {
  border-radius: 50%;
  transition: all .5s ease;
}

ul.office li img {
  max-width: 20px;
  margin-right: 5px;
}

.header_top ul {
  display: flex;
  margin: 0px;
  font-size: 15px;
}

ul.office li span {
  min-width: fit-content;
}

.head_top {
  background: #ebb800;
}

.header_top {

  padding: 10px 0px 10px;
  position: relative;
  color: #fff;
}

.header_top:before {
  content: '';
  position: absolute;
  width: 100%;
  background: #fff;
  height: 100%;
  left: -100%;
  top: 0;
}

.header_top:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 24px;
  border-color: #ebb800 #ebb800 transparent transparent;
  right: 100%;
  top: 0px;
  z-index: 1;
}

ul.office svg {
  width: 20px;
  fill: #fff;
  margin-right: 5px;
  height: 20px;
}
ul.office li p {
  margin: 0px;
  color: #000;  
  margin-left: 13.6em;
}
.header_top ul.social svg {
  fill: #fff;
}

.header_top ul.social li {
  padding: 0px 6px;
}

.main_menu {
  padding: 0px 0px 10px;
}

.action_box svg {
  width: 45px;
  fill: #459945;
}

.action_box a h3 {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  padding-left: 0px;
  color: #459945;
  border-left: 0px solid #ddd;
  margin-left: 0px;
  letter-spacing: 3px;
}

.action_box a h3 span {
  display: flex;
  font-size: 20px;
  color: #000;
  letter-spacing: 0px;
}

.header_cta li:last-child {
  padding-left: 30px;
  margin-left: 20px;
  border-left: 1px solid #ddd;
}

.action_box a {
  display: flex;
  align-items: center;
}

/**/



/*Slider*/
.main_slider .item {
  /* height: 100vh; */
  position: relative;
}

.main_slider .item img {
  width: 100%;

  object-fit: cover;
}

.main_slider .item .play_btn img {
  width: auto;
}

.main_slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.main_slider .item .cover .header-content {
  position: relative;
  padding: 30px 0px;
  overflow: hidden;
}


.main_slider .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.main_slider .item .cover .header-content h2 {

  font-size: 60px;
  color: #fff;

  font-family: 'Neue Haas Bold';
}

.main_slider .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}

.main_slider .item .cover .header-content h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  color: #fff;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
  margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  border: 2px solid #ebb800;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ebb800;
}

.main_slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active a {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}


.main_slider .owl-nav .owl-prev,
.main_slider .owl-nav .owl-next {
  position: absolute;
  background: transparent !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  display: block;
  z-index: 1000;
  border-radius: 0;
  right: 16%;
  bottom: 55px;
}

.main_slider .owl-nav .owl-prev {
  right: 18%;
}

.main_slider .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

.main_slider .owl-nav .owl-prev:focus {
  outline: 0;
}

.main_slider .owl-nav .owl-prev:hover {
  background: transparent !important;
}



.main_slider .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

.main_slider .owl-nav .owl-next:focus {
  outline: 0;
}

.main_slider .owl-nav .owl-next:hover {
  background: transparent !important;
}

div#banner_slider .owl-dots {
  position: absolute;
  right: 0%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: flex;
}

div#banner_slider .owl-dots .owl-dot button {
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 22px;
  margin: 0px 15px;
  line-height: 32px;
}

div#banner_slider .owl-dots .owl-dot.active button {
  border-bottom: 1px solid #fff;
}


/**/


.home_sec2 {
  padding: 80px 0px 65px;
}

.home_sec4 {
  padding: 100px 0px 100px;
}

.home_sec6 {
  padding: 80px 0px 65px;
}

.title h2 {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family: 'Neue Haas Bold';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}

.title h2 span {
  font-size: 20px;
  color: #459945;
}

.title.title_color_2 h2 {
  color: #fff;
}

.title.title_color_2 h2 span {
  color: #ebb800;
}

.content_box p {


  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}

.default_title h2 {
  font-size: 56px;
  font-family: 'Neue Haas Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 67px;

}

.box_style2 {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 90%;

}

.box_bg1, .box_bg2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  overflow: hidden;
}

.box_bg1 {
  background-image: url('../images/house.jpg');

}

.box_bg2 {
  background-image: url('../images/boat.jpg');

}

.box_bg1:before {
  content: '';
  position: absolute;
  background: #459945e3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.box_bg2:before {
  content: '';
  position: absolute;
  background: #ebb800e0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content_box2 h2 {
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 24px;
}

.content_box2 {
  display: flex;
  align-items: center;
}

.content_box2 img {
  max-width: 350px;
}

.home_sec5 {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px 80px;
  background-attachment: fixed;
}

.box_style3 {
  background: #fff;
}

.read_more a {
  border: 0px solid #000;
  padding: 10px 30px;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

.read_more a:hover {
  background: #000;
  color: #fff;
}

.read_more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #459945;
  background-image: linear-gradient(to right, #459945, #ebb800);
}

.img_box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box_style3 img {
  transition: all 1.5s ease;
}

.box_style3:hover img {
  transform: scale(1.1);
  transition: all 1.5s ease;
}

.address_box ul li a {
  color: #000;
}

.address_box ul li {
  font-size: 16px;
  padding-bottom: 5px;
}

.address_box {
  margin-bottom: 30px;
}

.address_box svg {
  width: 20px;
  margin-right: 5px;
}

.address_box h4 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
}

footer {
  padding: 60px 0px 0px;
  background: #101920;
  color: #fff;
}

.default_title span {
  background: #ebb800;
  color: #000;
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 50px;
}

.default_title h4 {
  font-size: 30px;
  font-family: 'Neue Haas Light';
}


.contact_form .form-control:focus {

  background-color: transparent;
  border-color: #ebb800;
  outline: 0;
  box-shadow: none;
}


.contact_form fieldset input,
.contact_form fieldset select,
.contact_form fieldset textarea {
  border: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  background: transparent;
  font-size: 18px;
}

.contact_form fieldset label span {
  color: #ec3939;
}

.contact_form {
  font-size: 16px;
}

.contact_form fieldset input::-webkit-input-placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  /* Edge */
  color: #000;
  font-size: 16px;
}

.contact_form fieldset input:-ms-input-placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-size: 16px;
}

.contact_form fieldset input::placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 18px;
}

.contact_form fieldset select {
  color: #000;
  font-size: 16px;
}

input.input_field_send {
  border: 0px;
  color: #fff;
  background: transparent;
  opacity: 0;
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
}

.cta_btn_1.cta_small.send {
  position: relative;
  display: inline-block;
}

.send_btn {
  position: relative;
  background: #459945;
  color: #fff;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neue Haas Bold';
  transition: all .3s ease;
}

.send_btn:hover {
  background: #ebb800;
  transition: all .3s ease;
}

.send_btn span {
  font-size: 18px;
  letter-spacing: 3px;
}

::placeholder {
  color: red;
}

.modal-header{
  background-image: linear-gradient(to right, #459945, #ebb800);
}
.modal-content{border: 0px;}
.modal-title {
   font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer p, footer a {
  letter-spacing: 2px;
  color: #fff;
  font-size: 16px;
}

.footer_logo a {
  display: flex;
  align-items: center;
  max-width: 220px;
}

footer_bottom a {
  color: #fff;

}

.policy ul {
  display: flex;
}

.policy li a {

  margin-right: 15px;
}

.copyright p, .copyright a {
  font-size: 13px;
  margin-bottom: 0px;
  color: #ddd;
  letter-spacing: 3px;
}

.copyright ul {
  display: inline-flex;
}

.footer_box ul {
  display: flex;
}

.copyright {
  border-top: 1px solid #666;
  margin-top: 50px;
  padding: 10px;
}

.footer_box ul li a {
  padding: 10px 10px 10px 10px;
}

.footer_box ul li a {
  padding: 5px;
  background: #ebb800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: all .5s ease;
}

.footer_box ul li a:hover {
  border-radius: 50%;
  transition: all .5s ease;
}

.copyright ul li {
  margin-right: 45px;
}

.copyright p a {
  color: #fff;
}

.footer_logo img {
  width: 180px;
}

/*Resonsive part*/

@media(max-width:1440px) {}

@media(max-width:1366px) {
  .box_bg1, .box_bg2 {

    min-height: 315px;

  }

  .content_box2 img {
    max-width: 300px;
  }
  ul.office li p {
     
    margin-left: 4.6em;
  }
}

@media(max-width:1280px) {}

@media(max-width:1192px) {
  .main_slider .item .cover .header-content h2 {
    font-size: 40px;
  }

  footer p, footer a {
    font-size: 14px;
  }

  .box_bg1, .box_bg2 {
    min-height: 250px;
  }

  .content_box2 img {
    max-width: 240px;
  }

  .content_box2 h2 {
    font-size: 20px;
  }

  .title h2 {
    font-size: 30px;
  }

}

@media(max-width:992px) {
  .logo {
    max-width: 155px;
  }
  ul.office li p {
    margin-left: 0.6em;
}
  .action_box a h3 span {
    font-size: 15px;
  }

  .action_box svg {
    width: 35px;
  }

  .action_box a h3 {
    font-size: 13px;
  }

  .title h2 {
    font-size: 30px;
  }

  .title h2 span {
    font-size: 18px;
  }

  .box_bg1, .box_bg2 {
    min-height: 165px;
  }

  .content_box2 img {
    max-width: 165px;
  }

  .content_box2 h2 {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .content_box2 p {
    font-size: 16px;
  }

  .box_style2 {

    width: 94%;
  }

  .address_box {

    display: inline-block;
    margin-right: 30px;
  }

  .main_slider .item .cover .header-content h2 {
    font-size: 26px;
  }


}


@media(max-width:767px) {
  .main_slider .item .cover .header-content {

    padding: 30px 100px 30px 0px;

  }

  .header_top:after, .header_top::before {
    content: none;
  }

  ul.header_cta {
    justify-content: space-between;
    width: 100%;
  }

  .action_box svg {
    width: 20px;
  }

  .action_box a h3 span {
    font-size: 16px;
  }

  .header_cta li:last-child {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px solid #ddd;
  }

  .action_box a h3 {
    font-size: 12px;

  }

  .logo {
    max-width: 190px;
    padding-top: 10px;
  }

  .main_slider .item .cover .header-content h2 {
    font-size: 20px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
  }

  div#banner_slider .owl-dots {
    right: -5%;
    top: 80%;
  }

  .content_box2 img {
    max-width: 33%;
  }

  .box_bg1, .box_bg2 {
    min-height: 150px;
  }

  .address_box {
    display: block;
    margin-right: 0px;
  }

  .box_style2 {
    top: 60%;
  }

  .home_sec2, .home_sec4, .home_sec6 {
    padding: 60px 0px 70px;
  }

  .title h2 span {
    font-size: 14px;
  }

  .title h2 {
    font-size: 24px;
  }

  body {
    font-size: 16px;
  }

  .home_sec5 {
    padding: 70px 0px 50px;
  }

  .logo img, .footer_logo img {
    width: 150px;
  }
  .header_top ul.social li {
    padding: 0px 2px;
}
ul.office li p {
   margin-left: 25px;
 
}
}

@media(max-width:400px) {
  .content_box2 p {
    font-size: 14px;
  }

  .content_box2 img {
    max-width: 135px;
  }

  .action_box a h3 span {
    font-size: 14px;
  }

  .action_box a h3 {
    font-size: 12px;
  }
  
}
@media(max-width:360px) {
ul.office svg {
  width: 15px;
  margin-right: 0px;
  height: auto;
}
.header_top ul {
  
  font-size: 12px;
}
.header_top ul.social svg {
  
  width: 16px;
  height: auto;
}
.action_box a h3 span {
  font-size: 12px;
}
}